<%- include('../partials/header') %>
<div class="profile-page">
  <h3><%= user.name %></h3>
</div>
<div>
    <h3><%= user.name %>'s Friends</h3>
    <ul>
      <!-- loop over the array of friends -->
      <!-- each friend's image and name should be visible. -->
    </ul>
  </div>
<%- include('../partials/footer') %>